body{
    background-image: url(papel\ de\ parede.jpg);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    color: rgba(255, 0, 0, 0.769);
}

#imagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 270px;
}

.paragrafo{
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.211);
    border-radius: 5px;
}

h1, h2, h3, p, li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    color: rgba(255, 0, 0, 0.769);
}